<div>
    <div>
        <form action="/auth/home" method="POST">
            <textarea id="story" name="story" rows="1" cols="35">

            </textarea>
        <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <form action="/auth/home" method="POST">
            <textarea id="story1" name="story1" rows="1" cols="35">

            </textarea>
        <button type="submit">Submit</button>
        </form>
    </div>
</div>