<form action="/auth/login" method="POST">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <p>{{error}}</p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>